<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<link type="text/css" rel="stylesheet" href="./stylesheets/reset.css">
	<link type="text/css" rel="stylesheet" href="./stylesheets/index.css">
  </head>
  <body>
    <div class="box">
	  <form class="in-infor" method="post">
	    <p>组织代码:<input type="text" name="id"></p><br>
	    <p>登入口令:<input type="password" name="psd"></p><br>
	    <input type="submit" value="提交">
	    <input type="reset" name="重置">
	  </form>
  	  	
	</div>

  </body>
</html>