
<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<title>information</title>
	<link type="text/css" rel="stylesheet" href="./stylesheets/reset.css">
	<link type="text/css" rel="stylesheet" href="./stylesheets/infor.css">
  </head>
  <body>
    <header>
	  <h1>材料六班同学信息系统</h1>
	  <form method="post">
	    <select name="searching">
		  <option value="student_number">---学号---</option>
		  <option value="student_name">---姓名---</option>
		</select>
		<input type="text" name="student_index">
		<input type="submit" value="搜索">
	  </form>
	</header>